.view {
    height: 100%;
    height: 100vh;
    margin-top: -20px;
    /* background-color: cornflowerblue; */
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    position: relative;
    /* padding-top: 100px; */
    background-image: url('src/assets/img/הורדה (1).jpg');
    height: 100vh;
    font-family: 'Numans', sans-serif;
  }