
<div id="myCarousel" class="carousel slide carousel-multi-item mr-auto" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top text-center">
      <a class="btn-floating btn-secondary" href="#myCarousel" data-slide="prev"><i
          class="fa fa-chevron-left"></i></a>
      <a class="btn-floating btn-secondary" href="#myCarousel" data-slide="next"><i
          class="fa fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
  
    <!--Indicators-->
    <ol class="carousel-indicators">
      <ng-container *ngFor="let game of this.game_list_duble?.slice(0, 3) ; let i = index">
      <li  data-target="#myCarousel" attr.data-slide-to="{{i}}" class="secondary-color" [ngClass]="{'active' : i == 0}"></li>
    </ng-container>
      <!-- <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
      <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li> -->
    </ol>
    <!--/.Indicators-->
  
    <!--Slides and lightbox-->
  
    <div class="carousel-inner mdb-lightbox" role="listbox">
      <div id="mdb-lightbox-ui"></div>
      <!--First slide-->
      
      <div  class=" carousel-item active text-center">
        
        <figure *ngFor="let game of this.game_list?.slice(0, 6);"  class="col-md-4 d-md-inline-block" >
          <a routerLink="{{game.html_url}}"
          data-size="1600x1067">
            <img src="https://consulegame.s3.eu-west-2.amazonaws.com/{{game.photo_url}}"
              class="img-fluid">
          </a>
        </figure>
        
      </div>
      <div *ngIf="this.game_list[6]"  class=" carousel-item text-center">
        
        <figure *ngFor="let game of this.game_list?.slice(6, 12); let k = index"  class="col-md-4 d-md-inline-block" >
          <a routerLink="/trivya"
          data-size="1600x1067">
            <img src="https://consulegame.s3.eu-west-2.amazonaws.com/{{game.photo_url}}"
              class="img-fluid">
          </a>
        </figure>
        
      </div>
     
  
  
      
    </div>
  
  
  </div>
  




  
