<canvas
    #game
    width='640'
    height="480"
    style='border: 1px solid black'>
</canvas>
<p>
    <button (click)='move("Right")'>Right</button>
    <button (click)='move("Left")'>Left</button>
    <button (click)='move("Up")'>Up</button>
    <button (click)='move("Down")'>Down</button>
</p>


<div id="app" class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12">
            <h1 class="text-center"></h1>
            <br>
            <div id="status"></div>
            <div id="chat">
                <input type="text" v-model="name" id="username" class="form-control" placeholder="Enter name...">
                <br>
                <div class="card">
                    <div id="messages" class="card-block">
                        <ul>
                            <li v-for="message of messages">
                                <!-- {{ message.name }}: {{ message.text }} -->
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
                <textarea id="textarea" class="form-control" v-model="text" placeholder="Enter message..."></textarea>
                <br>
                <button id="send" class="btn"
                 
                 >Send</button>
            </div>
        </div>
    </div>
</div>
