<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
            <div class="card-header">
                <div class="input-group">
                    <input type="text" placeholder="Search..." name="" class="form-control search">
                    <div class="input-group-prepend">
                        <span class="input-group-text search_btn"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="card-body contacts_body">
                <ul class="contacts">
                <li class="active" *ngFor='let user of this.usersList' (click)='invite_frinde(user)' >
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="{{(!user.photo_url) ? my_api+'הורדה803c6222-bb97-4002-8798-cb1cc943aa22.jpg': my_api + user.photo_url}}" class="rounded-circle user_img">
                            <!-- (click)='activeRoom == user.email'> -->
                            <span *ngIf='user.is_active' class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>{{user.user_name}}</span>
                            <p *ngIf='user.is_active'>{{user.user_name}} is online</p>
                        </div>
                    </div>
                </li>
                </ul>
            </div>
            <div class="card-footer"></div>
        </div></div>
        <div *ngIf='this.guest' class="col-md-8 col-xl-6 chat">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="{{my_api+this.guest.photo_url}}" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>צ'אט עם {{this.guest.user_name}}</span>
                            <p>1767 Messages</p>
                        </div>
                        <div class="video_cam">
                            <span><i class="fa fa-video"></i></span>
                            <span><i class="fa fa-phone"></i></span>
                        </div>
                    </div>
                    <span id="action_menu_btn"><i class="fa fa-ellipsis-v"></i></span>
                    <div class="action_menu">
                        <ul>
                            <li><i class="fa fa-user-circle"></i> View profile</li>
                            <li><i class="fa fa-users"></i> Add to close friends</li>
                            <li><i class="fa fa-plus"></i> Add to group</li>
                            <li><i class="fa fa-ban"></i> Block</li>
                        </ul>
                    </div>
                </div>
                <div class="card-body msg_card_body">
                    <div  *ngFor='let msg of messages[this.activeRoom]' class="d-flex  mb-4 {{msg['email'] == this.curennt_user['email']? 'justify-content-start' : 'justify-content-end'}}">
                        <div class="img_cont_msg">
                            {{ msg.sender }}
                            <img src="{{my_api+msg.photo_url}}" class="rounded-circle user_img_msg">
                        </div>
                        <div class="{{msg['email'] == this.curennt_user['email'] ? 'msg_cotainer' : 'msg_cotainer_send'}}">
                            {{ msg.messages }}
                            <span class="msg_time">8:40 AM, Today</span>
                        </div>
                    </div>
                    <!-- <div *ngFor='let msg of messages[this.activeRoom][this.guest]' class="d-flex justify-content-end mb-4">
                        <div class="img_cont_msg">
                            {{ msg.sender }}
                            <img src="{{my_api+msg.photo_url}}" class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer_send">
                            {{ msg.messages }}
                            <span class="msg_time_send">8:55 AM, Today</span>
                        </div>
                    </div> -->
                  
                   
                
                  
                    
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text attach_btn"><i class="fa fa-paperclip"></i></span>
                        </div>
                        <textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                        <div  class="input-group-append">
                            <input class="input-group-append" #my_send type="text"> <span class="input-group-text send_btn" (click)="sendChatMessage(my_send.value)"><i class="fa fa-location-arrow"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div > 
    <button (click)='select_games()'>בחר משחק</button>
    <ul>
        <li *ngFor='let game of this.game_list' (click)='select_game("socket/memory")'>{{game.name}}</li>
    </ul>
    <router-outlet></router-outlet>
</div>

<div *ngIf='this.alerts[0].invitation' class="alert alert-danger heb">
    <strong>הזמנה יש לך הזמנה מ </strong> {{host}}
    <button (click)='get_frined("true")'>אשר הזמנה</button>
    <button (click)='get_frined("false")'>איני מעוניין</button>
</div>
<!-- <div class="cntr" ng-controller="CardController">
    <div class="timer {{isCritical ? 'critical' : ''}}">
        {{timeLimit | date: 'm:ss'}} 
    </div>
    <div id=aBorder>
        <div id=sBorder>
            <span id="sum">{{numPairs}}</span>
        </div>	
    </div>
    
    <table class="table-top">
        <tr *ngFor="let row of deck.rows; let i = index">
            <td *ngFor="let card of row; let j = index">
                <div class="card_container {{!card['isFaceUp'] ? '' : 'flip'}}" (click)="isGuarding || emit_card({a:i,b:j})" >
                    <div class="card shadow">
                        <div class="front face"></div>
                        <div class="back face text-center pagination-center">
                            <p> {{card['item']}} </p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div class="startbtn">
        <button type="button" class="btn btn-default btn-lg" [disabled]="inGame == true" (click)="emit_start()">Start</button>
    </div>

</div>
<div class='tab-row'>
    <button class='tab-btn {{( activeRoom == "general") ? "active":""}}' (click)='activeRoom == "general"'>General</button>
    <button class='tab-btn {{ (activeRoom == "typescript") ? "active":""}}' (click)='activeRoom == "typescript"'>TypeScript</button>
    <button class='tab-btn {{ (activeRoom == "nestjs") ? "active": ""}}' (click)='activeRoom == "nestjs"'>NestJs</button>
</div>
<div class='tab-row'>
    Status : {{ isMemberOfActiveRoom() ? 'joined' : 'NOT joined'}} <button (click)='toggleRoomMembership()'>{{isMemberOfActiveRoom() ? 'Laeve' : 'Join'}}}</button>
</div>
<input #my_send type="text">
<button type="submit" (click)="sendChatMessage(my_send.value)">Send</button>
    <ul>
        <li *ngFor='let msg of messages[activeRoom]'>
                <strong> {{ msg.sender }}</strong> {{ msg.messages }}
        </li>
    </ul> -->
<!-- </p> -->
