<header>
    <nav class="navbar navbar-header navbar-expand-md navbar-dark bg-dark ">
    <!-- <a class="navbar-brand" href="#">
      Brand
    </a> -->
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNavbar()">
      <span class="icon navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse show" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="home">ראשי</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="/socket">חדר משחקים</a>
          </li>
          <li class="nav-item"
           *ngIf='corrent_user.role=="admin"'>
            
            <a class="nav-link" href="admin">ממשק ניהול</a>
          </li>
        </ul>

        <div class="span12 nav-item">
          <form #searchform="ngForm" class="form-search form-horizontal pull-right" (ngSubmit)="onSubmit(searchform)">
              <div class="input-append span12">
                  <input type="text" class="form-control search-query mac-style" name="search" placeholder="Search" #searchBox (keyup)="search(searchBox.value)">
              </div>
          </form>
      </div>

      <ul class="nav-item avatar dropdown navbar-nav flex-column">
        <a  type="button" class="pp dropdown-toggle" data-toggle="dropdown">
            <img src="http://localhost:3000/users/get_upload/{{corrent_user.photo_url}}" alt="placeholder" class="img-fluid rounded-circle z-depth-0"></a>
          
          <div class="dropdown-menu dropdown-menu-right" role="menu">
            
             <a *ngIf="!registered"  class="dropdown-item waves-light"  href="/sign">כניסה</a>
            <a *ngIf="registered"  class="dropdown-item waves-light"  (click)="this.signSvc.SignOut()">יציאה</a>
            
            
            <a class="dropdown-item waves-light"  href="/card-user">הפרופיל שלי</a>
          </div>
          <!-- <span class="clearfix d-none d-sm-inline-block">0</span> -->
          <span *ngIf="registered" class="navbar-text" >{{corrent_user.user_name}}</span>
          <span class="navbar-text" ><i class="fa fa-trophy"></i> {{corrent_user.sum_score}}</span>
          <a *ngIf="!registered"  class="navbar-text"  href="/sign">כניסה</a>
          <a *ngIf="registered"  class="navbar-text"  (click)="this.signSvc.SignOut()">יציאה</a>
    </ul>
      
      </div>

      
      

      <!-- <div class="nav-item avatar dropdown " dropdown> -->

        
        
    <!-- </div> -->
  </nav>
</header>