<div class="table-responsive bg-light">
    <table class="table"
     *ngFor = "let user of this.users_list">
     
        <tr>
            <th>שם</th>
            <th>סך נקודות</th>
            <th>טרוייה</th>
            <th>טטריס</th>
            <th>ס'נייק</th>
            <th>נקודות בונוס</th>
            <th>תמונה</th>
        </tr>
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.sum_score}}</td>
            <td>{{user.sum_score}}</td>
            <td>{{user.sum_score}}</td>
            <td>{{user.sum_score}}</td>
            <td><div class="img_cont">
                <img src="{{(!user.photo_url) ? my_api+'הורדה803c6222-bb97-4002-8798-cb1cc943aa22.jpg': my_api + user.photo_url}}" class="img-fluid mx-auto d-block rounded-circle user_img">
                <span class="online_icon"></span>
            </div></td>
        </tr>
    </table>
</div>
