
  <div class="bodylogin"><div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>הרשמה</h3>
          <div class="d-flex justify-content-end social_icon">
            <span><i class="fab fa-facebook-square" (click)="authService.FacebookAuth()"></i></span>
            <span><i class="fab fa-google-plus-square" (click)="authService.GoogleAuth()"></i></span>
            <span><i class="fab fa-twitter-square"></i></span>
          </div>
        </div>
        <div class="card-body">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="input-group form-group" [ngClass]="{ 'has-error': invalidFirstName() }">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" formControlName="first_name" class="form-control" placeholder="שם משתמש" #userName>
                    <p *ngIf="invalidFirstName()" id="first_name_error" class="help-block">{{this.serviceErrors.first_name || 'Invalid first name.'}}</p>
                    
                </div>
                <div class="input-group form-group" [ngClass]="{ 'has-error': invalidPassword() }">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" formControlName="password" placeholder="סיסמא" #userPassword>
                    <p *ngIf="invalidPassword()" id="password_error" class="help-block">{{this.serviceErrors.password || 'Invalid password.'}}</p>
                </div>
                <div class="row align-items-center remember">
                    <input type="checkbox">זכור אותי
                </div>
                <div class="form-group">
                    <input type="submit" value="שמור" class="btn float-right login_btn">
                </div>
            </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            <a class="redirect" routerLink="/sign-in">הכנס</a> <span> כבר יש לך חשבון משתמש? </span> 
          </div>
      </div>
    </div>
  </div>
  </div> 
